[Unit]
Description=Steam notifier

[Service]
User=cirelli
Type=simple
ExecStart=/home/cirelli/bin/steam-notifier
Restart=always
RestartSec=1800s
KillMode=process
IgnoreSIGPIPE=no
Environment="DISPLAY=:0" "DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus" "XAUTHORITY=/home/cirelli/.Xauthority"

[Install]
WantedBy=multi-user.target


